<div class="site_container">
           <div class="shipping_table">
              <%#@homes.each do |f| %>
                
                <div class="cart_row">
                 <div class="cart_img">Product Name</div>
                 <div class="cart_name"></div>
                 <div class="cart_edit"></div>
                 <div class="cart_unitprice">Unit Price</div>
                 <div class="cart_qty">Qty</div>
                 <div class="cart_subtotal">Subtotal</div>
                 <div class="cart_delete"></div>
                 <div class="clear_fix"></div>
                 </div><!--cart_row-->
                 
              <% unless  @cartitems.empty? %>
                  <% @finaltotal=0 %> 
                  <% @cartitems.each do |f| %>
                     
                   <% if f.product!= "0" %>
                      
                     <div class="cart_img1">
                       <%= image_tag f.product, :style =>"width:50px;" %><br>
                     <a href="<%= home_productdele_path(f.id) %>"><span>Remove</span></a></div>
                     <div class="cart_name1"><br/></div>
                     <div class="cart_edit1"></div>
                     <div class="cart_unitprice1">$
                     <%= number_with_precision(f.price, precision: 2) %>
                     </div>

                     <div class="cart_qty1"><%= f.quantity %></div>
                     <div class="cart_subtotal1">
                      <% @finaltotal=@finaltotal+f.price*f.quantity  %>
                      $<%= number_with_precision(f.price*f.quantity, precision: 2) %>

                     </div>
                     <div class="clear_fix"></div>
                   <% end %>
                   <% end %>
              <% else %>
                   <div class="cart_img1">
                       <br>
                     <a href=""><span></span></a></div>
                     <div class="cart_name1"> No products selected...</div>
                     <div class="cart_edit1"></div>
                     <div class="cart_unitprice1"></div>
                     <div class="cart_qty1"></div>
                     <div class="cart_subtotal1"></div>
                     <div class="clear_fix"></div>
              <% end %>
                 
                 
                 <div class="cart_row1">
                
                 <div class="cont_shop_btn">
                     
                     <a href="<%= home_index_path %>" class="cont_shop">Continue Shopping</a>
                 </div><!--cont_shop_btn-->
                 
                 <div class="cont_shop_btn1">
                     <input type="submit" value="Clear Shopping Cart"> 
                     <input type="submit" value="Update Shopping Cart">
                 </div><!--cont_shop_btn1-->
                 
                 <div class="clear_fix"></div>
               
                 </div><!--cart_row-->


              </div><!--shipping_table-->

        <div class="cart_left">
               <h3>Estimated Shipping and Tax</h3>
               
               <p>Enter your destination to get a shipping estimate.</p>
               <div class="cart_text">Country<span class="red">*</span></div>
               <div class="cart_btn"><select><option>United States</option></select></div>
               <div class="cart_text">State/Province</div>
               <div class="cart_btn"><select><option>Please select state, region, Province</option></select></div>
               <div class="cart_text">Zip/Postal Code</div>
               <div class="cart_btn"><input type="text"></div>
               <div class="cart_btn"><input type="submit" value="Get a Quote"></div>
              </div><!--cart_left-->
              
              <div class="cart_right">
              
               <div class="cartinner_left">
                   
                   <h3>Discount Codes</h3>
                   <div class="cart_text">Enter Your Coupon Code if you have one.</div>
                   <div class="cartinner_btn"><input type="text"></div>
                   <div class="cartinner_btn"><input type="submit" value="Apply Coupon"></div>
               
               </div>
               
               
               <div class="cartinner_right">
                     <ul class="subtoatallis">
                      <li></li>
                     </ul>
                     <ul class="subtoatallis1">
                      <li><span>Final Total</span>
                        
                        <%= number_with_precision(@finaltotal, precision: 2) %>
                      </li>
                     </ul>
                     <a href="<%=home_index_path %>">
                      <input type="submit" value="Save in Cart" /></a>
                      <div class="clear_fix"></div>
                     <div class="proceedtochekoutimg">
                     <a href="#"> <img src="images/cart_03.png" alt=""></a>
                     </div>
                <div class="checkoutgay">
                      Checkout With Multiple Address
                     </div>     
               </div>
                     
               
              
              <div class="clear_fix"></div>
              <div class="clear_fix"></div>
  
              <%#end%>
            </div>
           </div>  
           <div class="clear_fix"></div>