<div class="full_wrapper">
      <div class="site_container">
      
         <div class="product_full_wrap">


            <div class="product_heading">
                  <h2>Chattanooga - Current Deals</h2>
                  <a href="#">View all <img src="images/db_icon_27.png" /></a>
                  <div class="clear_fix"></div>
              </div><!--product_heading-->
   
      
         <ul class="product_list">
          <li>
          
          <div class="product_img">   <a href="<%=home_inner4_path %>"><%= image_tag 'juicemain.jpg'%></a> </div>
          <h4>Old South Restaurant</h4>
          
          <div class="product_detail_wrap">
          
          <div class="product_detail_left">
           
           <div class="price_wrap">Price: <span>$23.00</span> <input type="submit" value="Add Cart" /></div>
                
            <ul class="pricevalue_list">
            
             <li>

                 <div style="font-weight:bold; color:#000;">Value</div>
                 <div style="font-weight:400; color:#000;">$36.00</div>

             </li>

             <li>
    
                 <div style="font-weight:bold; color:#000;">You Save</div>
                 <div style="font-weight:400; color:#000;">$13.00</div>
    
             </li>

             <li>
                 <div style="font-weight:bold; color:#000;">Discount</div>
                 <div style="font-weight:400; color:#000;">36%</div>
             </li>
             
            </ul>
            <div class="clear_fix"></div>
            
          
          </div><!--product_detail_left-->
          
          <div class="product_detail_right">
          
           <div><img src="images/right_mark_42.png" /></div>
           <div style="margin-top:20px; font-size:16px;">Deal is Active</div>
          
          </div><!--product_detail_right-->
          
          <div class="clear_fix"></div>
          
          </div><!--product_detail_wrap-->
          
          
          </li>
         
         <li>
          
          <div class="product_img"><a href="<%=home_inner3_path %>"><%= image_tag 'tea.jpg'%></a></div>
          <h4>Old South Restaurant</h4>
          
          <div class="product_detail_wrap">
          
          <div class="product_detail_left">
           
           <div class="price_wrap">Price: <span>$23.00</span> <input type="submit" value="Add Cart" /></div>
                
            <ul class="pricevalue_list">
            
             <li>

                 <div style="font-weight:bold; color:#000;">Value</div>
                 <div style="font-weight:400; color:#000;">$36.00</div>

             </li>

             <li>
    
                 <div style="font-weight:bold; color:#000;">You Save</div>
                 <div style="font-weight:400; color:#000;">$13.00</div>
    
             </li>

             <li>
                 <div style="font-weight:bold; color:#000;">Discount</div>
                 <div style="font-weight:400; color:#000;">36%</div>
             </li>
             
            </ul>
            <div class="clear_fix"></div>
            
          
          </div><!--product_detail_left-->
          
          <div class="product_detail_right">
          
           <div style=""><img src="images/right_mark_42.png" /></div>
           <div style="margin-top:20px; font-size:16px;">Deal is Active</div>
          
          </div><!--product_detail_right-->
          
          <div class="clear_fix"></div>
          
          </div><!--product_detail_wrap-->
          
          
          </li>         
     </ul>
     
     <div class="clear_fix"></div>

          <!--  <div class="product_heading">
                  <h1>More Recommendations</h1>
                  <a href="#">View all <img src="images/db_icon_27.png" /></a>
                  <div class="clear_fix"></div>
              </div> --><!--product_heading-->

     <ul class="product_list">    
         
         <li>
          
          <div class="product_img"><a href="<%=home_inner1_path %>"><%= image_tag 'main cake.jpg'%></a></div>
          <h4>Old South Restaurant</h4>
          
          <div class="product_detail_wrap">
          
          <div class="product_detail_left">
           
           <div class="price_wrap">Price: <span>$23.00</span> <input type="submit" value="Add Cart" /></div>
                
            <ul class="pricevalue_list">
            
             <li>

                 <div style="font-weight:bold; color:#000;">Value</div>
                 <div style="font-weight:400; color:#000;">$36.00</div>

             </li>

             <li>
    
                 <div style="font-weight:bold; color:#000;">You Save</div>
                 <div style="font-weight:400; color:#000;">$13.00</div>
    
             </li>

             <li>
                 <div style="font-weight:bold; color:#000;">Discount</div>
                 <div style="font-weight:400; color:#000;">36%</div>
             </li>
             
            </ul>
            <div class="clear_fix"></div>
            
          
          </div><!--product_detail_left-->
          
          <div class="product_detail_right">
          
           <div style=""><img src="images/right_mark_42.png" /></div>
           <div style="margin-top:20px; font-size:16px;">Deal is Active</div>
          
          </div><!--product_detail_right-->
          
          <div class="clear_fix"></div>
          
          </div><!--product_detail_wrap-->
          
          
          </li>
          
          <li>
          
          <div class="product_img"><a href="<%=home_inner2_path %>"><%= image_tag 'coffee.jpg'%></a></div>
          <h4>Old South Restaurant</h4>
          
          <div class="product_detail_wrap">
          
          <div class="product_detail_left">
           
           <div class="price_wrap">Price: <span>$23.00</span> <input type="submit" value="Add Cart" /></div>
                
            <ul class="pricevalue_list">
            
             <li>

                 <div style="font-weight:bold; color:#000;">Value</div>
                 <div style="font-weight:400; color:#000;">$36.00</div>

             </li>

             <li>
    
                 <div style="font-weight:bold; color:#000;">You Save</div>
                 <div style="font-weight:400; color:#000;">$13.00</div>
    
             </li>

             <li>
                 <div style="font-weight:bold; color:#000;">Discount</div>
                 <div style="font-weight:400; color:#000;">36%</div>
             </li>
             
            </ul>
            <div class="clear_fix"></div>
            
          
          </div><!--product_detail_left-->
          
          <div class="product_detail_right">
          
           <div style=""><img src="images/right_mark_42.png" /></div>
           <div style="margin-top:20px; font-size:16px;">Deal is Active</div>
          
          </div><!--product_detail_right-->
          
          <div class="clear_fix"></div>
          
          </div><!--product_detail_wrap-->
          
          
          </li>
         
         </ul>      
     
        <div class="clear_fix"></div>
     
      </div><!--product_full_wrap-->
      
      <div class="product_right_wrap">
      
       <!-- <div class="merchant_wrap">
        
         <h3>Not A Merchant Yet?</h3>
         <p>Subscribe to get your business Featured on your Tameion, Inc./Clikarro.com Website.</p>
       
       </div> --><!--merchant_wrap-->

       <!-- <div class="merchant_wrap1">
        
         <h4>Compare Products</h4>
         <p>You have no Products</p>
       
       </div><!--merchant_wrap1-->
      
      <!-- <h3>Featured Merchants</h3>
      <div style="margin-top:10px;"><img src="images/mexican_food_29.png" /></div>
       
      
      
      </div> -->
     <div class="clear_fix"></div>
     
      </div>
     </div>
     
     <div class="clear_fix"></div>