<div class="full_wrapper">
      <div class="site_container">
        <%#=form_for @cart, :url => {:action => 'create'} do |f| %>
      <div class="betcam_wrap">
     <!--  <a href="<%#=home_index_path%>" class="active">Home</a> -->
      <!-- <span><%#= image_tag 'right_arrow_03.png'%></span>
      <a href="#">Group Deals</a>
      <span><%#= image_tag 'right_arrow_03.png'%></span>
      <a href="#">Chattanooga</a>
      <span><%#= image_tag 'right_arrow_03.png'%></span>
      <a href="#">Dannys Service Center zxfsz</a> </div> -->
      
      <div class="product_full_wrapper">
      
         <div class="product_inner_wrap">
            <h2>Dannys Service Center</h2>   

            <div class="product_inner_left">
            
              <div><%= image_tag 'juicemain.jpg'%></div>
              <h3>Ingredients:</h3>
              <ul class="product_lists">
              
                <li><%= image_tag 'milk.jpg'%><br>
                <span>Add to cart:</span><input type="checkbox" name="check" value=""><br><span>Quantity:</span><input type="text" name="" value="" style="  width: 22px;">
                </li>
                <li><%= image_tag 'apple.jpg'%><br>
                <span>Add to cart:</span><input type="checkbox" name="check" value=""><br><span>Quantity:</span><input type="text" name="quantity" value="" style="  width: 22px;"></li>
                <li><%= image_tag 'orange.jpg'%> <br>
                <span>Add to cart:</span><input type="checkbox" name="check" value=""><br><span>Quantity:</span><input type="text" name="quantity" value="" style="  width: 22px;"></li>
                <li><%= image_tag 'sugar.jpg'%> <br>
                <span>Add to cart:</span><input type="checkbox" name="check" value=""><br><span>Quantity:</span><input type="text" name="quantity" value="" style="  width: 22px;"></li>
                <!-- <li><%#= image_tag '.jpg'%> <br>
                <span>Add to cart:</span><input type="checkbox" name="check" value=""><br><span>Quantity:</span><input type="text" name="quantity" value="" style="  width: 22px;"></li> -->
              <div class="clear_fix"></div>
              
              </ul>
            
            </div><!--product_inner_left-->

            <div class="product_inner_right">
            
                <ul class="service_list">
                
                  <li>
                   <p>NOW FROM</p>
                   
                   <div class="price_value">$<%#=@homes. price%> 30<span>$50</span></div>
                   <div class="price_discount">Extra $5 Off Ends 12/1</div>
                   <div class="buy_wrap"><a href="">BUY</a></div>
                   <!-- <div class="give_gift"><a href="#"><%#= image_tag 'service_center_10.png'%>GIVE AS A GIFT</a></div> -->
                   <%#= submit_tag 'Create an account'%>
                    
                   <!-- <ul class="pricevalue_list1">

                    <li>
                        <div style="font-weight:bold; color:#000;">Value</div>
                        <div style="font-weight:400; color:#000;">$36.00</div>
                     </li>   


                    <li>
                        <div style="font-weight:bold; color:#000;">Discount</div>
                        <div style="font-weight:400; color:#000;">60%</div>
                     </li>   


                    <li>
                        <div style="font-weight:bold; color:#000;">You Save</div>
                        <div style="font-weight:400; color:#000;">$36.00</div>
                     </li>   
                    <div class="clear_fix"></div>
                     
                   </ul> -->

                  </li>
                


                  <li>
                   <p>SALE STARTED AT</p>
                   <div class="sale_ending"><%= image_tag 'service_center_14.png'%> <%#= @homes.created_at.strftime("%m-%d-%Y") %></div>
                  
                  </li>

                  <li>
                   <p>LIMITED QUANTITY AVAILABLE</p>
                   <div class="quantity_limit"><%= image_tag 'service_center_17.png'%> Over 1,000 bought</div>
                    
                  
                  </li>



                  <li>
                   <p>SHARE THIS DEAL</p>
                   <div style="margin-top:10px;">
                   <a href="#"><%= image_tag 'service_center_31.png'%></a>
                   <a href="#"><%= image_tag 'service_center_33.png'%></a>
                   <a href="#"><%= image_tag 'service_center_35.png'%></a>
                   <a href="#"><%= image_tag 'service_center_37.png'%></a>
                   <a href="#"><%= image_tag 'fb_likes_40.png'%></a>
                   <a href="#"><%= image_tag 'fb_likes_42.png'%></a>
                   </div>
                  </li>
                
                </ul>
            
            </div><!--product_inner_right-->
            
            <div class="clear_fix"></div>
            
            <div style="border-top:1px dashed #bbbbbb; margin:10px 0px;"></div> 
            <h4>The Fine Print</h4>
            <p><%#= raw(@homes.description)  %></p>
            
      
         
     

           
     
     
        </div><!--product_inner_wrap-->
      
      <!-- <div class="product_right_wrap">
      
       <div class="merchant_wrap">
        
         <h3>Not A Merchant Yet?</h3>
         <p>Subscribe to get your business Featured on your Tameion, Inc./Clikarro.com Website.</p>
       
       </div><!--merchant_wrap-->

      <!--  <div class="merchant_wrap1">
        
         <h4>Compare Products</h4>
         <p>You have no Products</p> -->
       
       <!-- </div> --><!--merchant_wrap1-->
      
      <!-- <h3>Featured Merchants</h3>
      <div style="margin-top:10px;"> -->

      <%#= image_tag 'mexican_food_29.png'%></div>
       
      
      
     <!--  </div>  --><!--product_right_wrap-->
      
     <div class="clear_fix"></div>
     
     </div><!--product_full_wrapper-->
     <%#end%>
      </div>
     </div>