<footer>
      <div class="site_container">    
   
          <div class="footer_left">
          
             <ul class="footer_list">
             
               <li>
                
                <h2>Company</h2>
                <p><a href="#"><%= image_tag 'db_arrow_03.png'%> About Us</a></p>
                <p><a href="#"><%= image_tag 'db_arrow_03.png'%>Privacy Policy</a></p>
                <p><a href="#"><%= image_tag 'db_arrow_03.png'%> Contact Us</a></p>
                <p><a href="#"><%= image_tag 'db_arrow_03.png'%> Become an Affiliate</a></p>
               
               </li>
               
               <li>
                
                <h2>Latest Posts</h2>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eleifend in turpis sit amet accumsan.
               
               </li>
               
               <li>
                
                <h2>My Account</h2>
                <p><a href="#"><%= image_tag 'db_arrow_03.png'%> My Account</a></p>
                <p><a href="#"><%= image_tag 'db_arrow_03.png'%> My Wishlist</a></p>
                <p><a href="#"><%= image_tag 'db_arrow_03.png'%> View Cart</a></p>
                <p><a href="#"><%= image_tag 'db_arrow_03.png'%> Checkout</a></p>
               
               </li>
            
              <div class="clear_fix"></div>
              
             </ul>
          
          </div><!--footer_left-->
          
          <div class="footer_right">
            
            <h2>Newsletter Subscription</h2>
            
            <div class="search_wrapper">

              <input type="text" placeholder="Enter Email" />
              <input type="submit" value="SUBMIT" />
              <div class="clear_fix"></div>

            </div><!--search_wrapper-->
            
            <ul class="payment_list">
            
             <li>
              <h2>Follow Us</h2>
              <div>
                  <a href="#"><%= image_tag 'payment_icons_07.png'%></a>
                  <a href="#"><%= image_tag 'payment_icons_09.png'%></a>
                  <a href="#"><%= image_tag 'payment_icons_11.png'%></a>
              </div>
              
             </li>
            
             <li>
              <h2>Payment</h2>
              
              <div>
              
                  <a href="#"><%= image_tag 'payment_icons_14.png'%></a>
                  <a href="#"><%= image_tag 'payment_icons_16.png'%></a>
                  <a href="#"><%= image_tag 'payment_icons_18.png'%></a>
              
              </div>

              
             </li>
            
            </ul>
            
            
          
          </div><!--footer_right-->
          
          <div class="clear_fix"></div>
    
      <div class="copyright_wrap">&copy; Tameion, Inc. All Rights Reserved. |  Terms of Use    Privacy policy    Licenses</div>
    
      </div>
    </footer>
   <div class="clear_fix"></div>